<mat-drawer-container class="view">
    <!-- Left col -->
    <mat-drawer mode="side" opened class="side-panel">
        <app-home-list [items]="homeService.cities$ | async" (itemClick)="homeService.setSelectedHandler($event)">
        </app-home-list>
    </mat-drawer>
    <!-- Right col -->
    <mat-drawer-content>
        <!-- Map -->
        <app-home-map [cities]="homeService.cities$ |async" [currentCity]="homeService.currentCity$|async">
        </app-home-map>
    </mat-drawer-content>
</mat-drawer-container>