<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>{{data.location.name}}'s weather</mat-card-title>
        <mat-card-subtitle>Today:{{data.location.localtime}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="text-align: center">
        <div class="flex-row">
            <div class="temp">
                <span> {{data.current.temp_c }}°C</span>
            </div>
            <div class="outlook">
                <img src={{data.current.condition.icon}} />
                <span>{{data.current.condition.text}}</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>